# ========== 数据集/基础依赖 ==========
academictorrents==2.3.3
numpy==1.24.4
scipy==1.16.3
PyYAML==6.0.3
omegaconf==2.3.0
packaging==25.0
typing_extensions==4.15.0
setuptools==75.1.0
Requests==2.32.5

# ========== 图像处理核心 ==========
albumentations==2.0.8
opencv_python==4.12.0.88
Pillow==12.1.0
imageio==2.37.2
kornia==0.7.3

# ========== PyTorch/训练推理核心 ==========
torch==1.12.1+cu113
torchvision==0.13.1+cu113
einops==0.8.1
pytorch_lightning==1.8.6

# ========== 模型/功能依赖 ==========
transformers==4.26.0
clip_anytorch==2.6.0
invisible_watermark==0.2.0
tqdm==4.67.1

# ========== 辅助工具 ==========
ipython==8.12.3
ipywidgets==8.1.8
pudb==2025.1.5
streamlit==1.52.2
more_itertools==10.8.0
natsort==8.4.0
protobuf==6.33.2
skimage==0.0

